<!doctype html>
<html>
<head>
	<title>ChrisTy's Gameshop Webpage</title>
	<link rel="stylesheet" href="stylesheets/nav.css" type="text/css">
	<script src="/js/scripts.js"></script>
</head>
<style>
	body {padding-bottom: 50px;}
</style>
<body>
	{{{body}}}
</body>
</html>